/*--------------------------------------------------------------------------------------------------------
삽입되는 곳의 정의 CSS
--------------------------------------------------------------------------------------------------------*/
/********* iframe으로 삽입 edite모드 ***********/
HTML {
	padding:0px;
	margin:0px;
}

#content {
	margin:0;
	padding:0;
	clear:both;
	background: url(../images/bg/bg_content.gif) repeat;
	z-index:100;
	padding:0 23px 0 22px;
	border:0px solid #000000;
}

#content_iframe {
	height:100%;
}
/********* 본분에 편집시 보여지는 상황 + xhtml +print ***********/
body.xhtmlEditorBody {
	clear:both;
	margin:0;
	padding:0 23px 0 22px;
	line-height: 1.5em;
	font-family:"굴림", Gulim, "돋움", Dotum, Arial, sans-serif;
	font-size:0.75em;
	background: transparent url(../images/bg/bg_content.gif);
	/**overflow:auto;*/
	/**background-color:transparent;/**/
}
#xhtmlEditorContainer.bgWhite,
#content.bgWhite {
	background-image: none;
}
.background_no {background: none !important;}
/********* 본분에 바로 보여지는 상황 readonly모드 ***********/
div.xhtmlEditorBody {
	clear:both;
 	/*margin:0 23px 0 22px;*/
	margin-bottom:1.5em;
	padding:0;
	font-family:"굴림", Gulim, "돋움", Dotum, Arial, sans-serif;
	color:#000000;
}
/********* 본분에 바로 보여지는 상황 print모드 ***********/
body#printpage_body {
	font-family:굴림, Arial, Helvetica, sans-serif;
	margin:0;
	color:#000000;
	padding:0 2em 0 2em;
	background:none;
	overflow:visible;

}
body#printpage_body div#printReturn {
    text-align:center;
}
body#printpage_body h1.xhtmlPrintTitle {
	padding:0;
	margin:0;
    margin-top:5px;
    margin-bottom:10px;
	text-align:right;
	font-size:9pt;
	border:none;
}
/********* xhtml 모드 ***********/
.xhtmlEditorBody div.xhtmlEditorBodyCCL {
	border-top:2px solid #333333;
	padding:10px;
	margin-top:10px;
	text-align:right;
	background:none;
}


/*--------------------------------------------------------------------------------------------------------
내용 CSS
--------------------------------------------------------------------------------------------------------*/
.xhtmlEditorBody p {
	margin: 0;
	padding:0;
	line-height:2.0em;
}
.xhtmlEditorBody strong {
	margin:0;
	padding:0;
	line-height:2.0em;
}
body.xhtmlEditorBody em ,
div.xhtmlEditorBody em {
	margin:0;
	padding:0;
	line-height:2.0em;
}
div.xhtmlEditorBody em {
	font-style:normal;
}
div.xhtmlEditorBody em.italic {
	margin:0;
	padding:0;
	line-height:2.0em;
	font-style:italic !important;
}
div.xhtmlEditorBody em.italic * {
	margin:0;
	padding:0;
	line-height:2.0em;
	font-style:italic !important;
}
div.xhtmlEditorBody em.hilight {
	margin:0;
	padding:0;
	line-height:2.0em;
}
div.xhtmlEditorBody em.underline {
	margin:0;
	padding:0;
	line-height:2.0em;
	text-decoration:underline;
}
body.xhtmlEditorBody em.underline {
	font-style: normal;
	text-decoration:underline;
}
body.xhtmlEditorBody span.strike ,
div.xhtmlEditorBody span.strike {
	margin:0;
	padding:0;
	line-height:2.0em;
	text-decoration: line-through;
}
div.xhtmlEditorBody span.strike {
	text-decoration:line-through;
}
body.xhtmlEditorBody span.super {
	font-size:0.60em;
	position:relative;
	top:-0.4em;
}
div.xhtmlEditorBody span.super {
	font-size:0.9em;
	position:relative;
	top:-0.4em;
}
/*********************************************************/
body.xhtmlEditorBody span.sub {
	font-size:0.60em;
	position:relative;
	bottom:-0.4em;
}
div.xhtmlEditorBody span.sub {
	font-size:0.9em;
	position:relative;
	bottom:-0.4em;
}

.xhtmlEditorBody sub {
	font-size:0.916em;
	/font-size:1.083em;
	position:relative;
	bottom:-0.3em;
	/bottom:-0.1em;
	line-height:0.8em;
}
.xhtmlEditorBody sup {
	font-size:0.916em;
	/font-size:1.083em;
	position:relative;
	top:0.1em;
	/top: -0.1em;
	line-height:0.8em;
}
.xhtmlEditorBody hr {
	margin: 0 0 1.835em 0;
	_margin-bottom: 0.683em !important;
	bottom:-0.9em;
	position:relative;
	background:none;
	border:none;
	border-top:1px solid #000;
}
*+html .xhtmlEditorBody hr {
	bottom:-0.4em;	
	margin-bottom: 0.7em;
}
/*********************************************************/
.xhtmlEditorBody h1 {
	margin:0;
	padding:0;
	font-size: 2em;
	line-height:2em;
	color:#223d67;
	background: url(../images/bg/heading1.gif) repeat-x 0 100%;
}
.xhtmlEditorBody h2 {
	margin:0;
	padding:0;
	font-size: 1.833em;
	line-height: 2.181em;
	color:#223d67;
	background: url(../images/bg/heading2.gif) repeat-x 0 100%;
}
.xhtmlEditorBody h3 {
	margin:0;
	padding:0;
	font-size: 1.5em;
	line-height: 2.666em;
	color: #223d67;
	background: url(../images/bg/heading3.gif) repeat-x 0 100%;
}
.xhtmlEditorBody h4 {
	margin:0em;
	padding:0;
	font-size: 1.333em;
	line-height: 3em;
	color:#223d67;
	background: url(../images/bg/heading4.gif) repeat-x 0 100%;
}
.xhtmlEditorBody h5 {
	margin:0;
	padding:0;
	font-size: 1.166em;
	line-height:3.428em;
	color:#223d67;
	background: url(../images/bg/heading5.gif) repeat-x 0 100%;
}
.xhtmlEditorBody h6 {
	margin:0;
	padding:0;
	font-size: 1em;
	line-height:2em;
	color:#223d67;
	background: url(../images/bg/heading6.gif) repeat-x 0 100%;
}
/**************************************************************/
.xhtmlEditorBody table.datatable {
	width:98%;
	margin: 2em 0;
	/margin-top: 1.916em;
	border-collapse: collapse;
	font-size:1em;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	/*background: #fff url(/images/bg/table_bg.gif) repeat-x 0 0;*/
}
.xhtmlEditorBody table.datatable caption {
	margin:0;
	padding:0;
	text-align:left;
	line-height:2em;
}
.xhtmlEditorBody table.datatable tr {
	/*border:1px solid #000000;*/
}
.xhtmlEditorBody table.datatable th {
	margin:0;
	padding:0 3px;
	line-height:2em;
	background: #E7E7E7 url(../images/bg/table_bg.gif) repeat-x 0 100%;
	font-weight:lighter;
	border-right: 1px solid #000;
	/*border:1px solid #000000;*/
	/*background:#E7E7E7;*/
}
.xhtmlEditorBody table.datatable td {
	margin:0;
	padding:0 3px;
	line-height:2em;
	overflow:hidden;
	background: url(../images/bg/table_bg.gif) repeat-x 0 100%;
	border-right: 1px solid #000;
	/*border:1px solid #000000;*/
	/*background:#fff;*/
}
.xhtmlEditorBody table.datatable p {
	margin: 0;
	padding:0;
	line-height:2em;
}
.xhtmlEditorBody table.datatable strong {
	margin:0;
	padding:0;
	line-height:2em;
}
body.xhtmlEditorBody table.datatable em ,
div.xhtmlEditorBody table.datatable em {
	margin:0;
	padding:0;
	line-height:2em;
}
div.xhtmlEditorBody table.datatable em {
	font-style:normal;
}
div.xhtmlEditorBody table.datatable em.italic {
	margin:0;
	padding:0;
	line-height:2em;
	font-style:italic !important;
}
div.xhtmlEditorBody table.datatable em.italic * {
	margin:0;
	padding:0;
	line-height:2em;
	font-style:italic !important;
}
div.xhtmlEditorBody table.datatable em.hilight {
	margin:0;
	padding:0;
	line-height:2em;
}
div.xhtmlEditorBody table.datatable em.underline {
	margin:0;
	padding:0;
	line-height:2em;
	text-decoration:underline;
}

body.xhtmlEditorBody table.datatable span.strike 
div.xhtmlEditorBody table.datatable span.strike {
	margin:0;
	padding:0;
	line-height:2em;
}
div.xhtmlEditorBody table.datatable span.strike {
	text-decoration:line-through;
}


body.xhtmlEditorBody table.datatable span.super {
	font-size:0.60em;
	position:relative;
	top:-0.4em;
}
div.xhtmlEditorBody table.datatable span.super {
	font-size:0.9em;
	position:relative;
	top:-0.4em;
}
/*********************************************************/
body.xhtmlEditorBody table.datatable span.sub {
	font-size:0.60em;
	position:relative;
	bottom:-0.4em;
}
div.xhtmlEditorBody table.datatable span.sub {
	font-size:0.9em;
	position:relative;
	bottom:-0.4em;
}

.xhtmlEditorBody table.datatable sub {
	font-size:0.75em;
	position:relative;
	bottom:-0.5em;
	line-height:2.6em;
}
.xhtmlEditorBody table.datatable sup {
	font-size:0.75em;
	position:relative;
	top:-0.2em;
	line-height:1.8em;
}
.xhtmlEditorBody table.datatable hr {
	margin: 0 0 1.835em 0;
	position:relative;
	bottom:-0.9em;
	background:none;
	border:none;
	border-top:1px solid #000;
}
/*************************************************************
.xhtmlEditorBody table.datatable h1 {
	margin:0;
	margin-bottom:0.5em;
	padding:0;
	font-size: 2em;
	line-height:1.27em;
	color:#223d67;
	border-bottom:5px solid #425e89;
}
.xhtmlEditorBody table.datatable h2 {
	margin:0;
	margin-bottom:0.5em;
	padding:0;
	font-size: 1.8em;
	line-height:1.55em;
	color:#223d67;
	border-bottom:4px solid #425e89;
}
.xhtmlEditorBody table.datatable h3 {
	margin:0;
	margin-bottom:10px;
	padding:0;
	font-size: 1.5em;
	line-height:1.95em;
	color:#223d67;
	border-bottom:3px solid #425e89;
}
.xhtmlEditorBody table.datatable h4 {
	margin:0;
	margin-bottom:10px;
	padding:0;
	font-size: 1.3em;
	line-height:2.3em;
	color:#223d67;
	border-bottom:2px solid #425e89;
}
.xhtmlEditorBody table.datatable h5 {
	margin:0;
	margin-bottom:10px;
	padding:0;
	font-size: 1.13em;
	line-height:2.75em;
	color:#223d67;
	border-bottom:1px solid #425e89;
}
.xhtmlEditorBody table.datatable h6 {
	margin:0;
	padding:0;
	font-size: 1em;
	line-height:1.92em;
	color:#223d67;
	border-bottom:1px solid #425e89;
}
/*************************************************************/
.xhtmlEditorBody table.datatable dl {
	margin: 0;
	padding:0;
	padding-left:2em;
	line-height:2em;
}
.xhtmlEditorBody table.datatable ul {
	margin: 0;
	padding:0;
	padding-left:2em;
	line-height:1.8em;
}
.xhtmlEditorBody table.datatable ol {
	margin: 0;
	padding:0;
	padding-left:2em;
	line-height:1.8em;
}
.xhtmlEditorBody table.datatable li {
	margin:0;
	padding:0;
	line-height:1.8em;
}
.xhtmlEditorBody table.datatable li ul {
	margin:0;
	padding:0;
	padding-left:2em;
	line-height:1.8em;
}
.xhtmlEditorBody table.datatable li ol {
	margin:0;
	padding:0;
	padding-left:2em;
	line-height:1.8em;
}
.xhtmlEditorBody table.datatable li dl {
	margin:0;
	padding:0;
	line-height:1.8em;
}
.xhtmlEditorBody table.datatable q {
	margin:0 0.3em;
	padding:0 0.3em;
	line-height:1.8em;
	background:#EFEFEF;
}
table.datatable q:before {
  content:close-quote;
}
table.datatable q:after {
  content: close-quote;
}
.xhtmlEditorBody table.datatable blockquote {
	margin: 0;
	padding:0;
	padding-left:38px;
	line-height:1.8em;
	background:#EFEFEF url(../images/icon/contextBlockquoteBg.gif) no-repeat 14px 4px;
}

.xhtmlEditorBody table.datatable img {
	margin: 0;
	padding:0;
	max-width:100%;
}

.xhtmlEditorBody table.datatable div {
	margin: 0;
	padding:0;
	padding-left:12px;
	line-height:1.8em;
	background:#F9F9D8 url(../images/bg/bg_content.gif) repeat;
}
.xhtmlEditorBody table.datatable pre {
	margin:0;
	padding:0;
	line-height:1.8em;
	border-left:2px solid #afa;
	background-color: #CCC;
	font-size:1em;
	background:#F9F9D8;
}
.xhtmlEditorBody table.datatable a,
.xhtmlEditorBody table.datatable a:visited,
.xhtmlEditorBody table.datatable a:hover {
	margin:0;
	padding:0;
	color: #568942 !important;
	line-height:1.8em;
	text-decoration:underline;
	cursor: pointer !important;
}
.xhtmlEditorBody table.datatable a.wiki,
.xhtmlEditorBody table.datatable a.wiki:visited,
.xhtmlEditorBody table.datatable a.wiki:hover {
	margin:0;
	padding:0;
	color: #002BB8 !important;
	line-height:1.8em;
	text-decoration:underline;
	cursor: pointer !important;
}















/*.xhtmlEditorBody table {
	border: 1px solid #bbbbbb !important;
}
.xhtmlEditorBody td {
	border: 1px solid #bbbbbb !important;
}*/
/**************************************************************/
.xhtmlEditorBody dl {
	margin: 0;
	padding:0;
	padding-left:2em;
	line-height:2.0em;
}
.xhtmlEditorBody ul {
	margin: 0;
	padding:0;
	padding-left:2em;
	line-height:2.0em;
}

.xhtmlEditorBody ul.list-type-1 li,

.xhtmlEditorBody ul.list-type-2 li,

.xhtmlEditorBody ul.list-type-3 li,

.xhtmlEditorBody ul.list-type-4 li,

.xhtmlEditorBody ul.list-type-5 li {

	/padding-left: 0.4em;

}

.xhtmlEditorBody ul.list-type-1 li { list-style-image: url(../images/bullet/_list_style01.gif); }

.xhtmlEditorBody ul.list-type-2 li { list-style-image: url(../images/bullet/_list_style02.gif); }

.xhtmlEditorBody ul.list-type-3 li { list-style-image: url(../images/bullet/_list_style03.gif); }

.xhtmlEditorBody ul.list-type-4 li { list-style-image: url(../images/bullet/_list_style04.gif); }

.xhtmlEditorBody ul.list-type-5 li { list-style-image: url(../images/bullet/_list_style05.gif); }
.xhtmlEditorBody ol.code {
	margin: 0;
	padding:0;
	padding-left:38px;
	line-height:1.8em;
	font-family: courier, monospace;
	background:#EFEFEF url(../images/icon/contextCodeBg.gif) no-repeat 8px 7px;
}

.xhtmlEditorBody ol.code li {
	list-style-type: none;
}
.xhtmlEditorBody ol {
	margin: 0;
	padding:0;
	padding-left:2em;
	line-height:2.0em;
}
.xhtmlEditorBody li {
	margin:0;
	padding:0;
	line-height:2.0em;
}
.xhtmlEditorBody li ul {
	margin:0;
	padding:0;
	padding-left:2em;
	line-height:2.0em;
}
.xhtmlEditorBody li ol {
	margin:0;
	padding:0;
	padding-left:2em;
	line-height:2.0em;
}
.xhtmlEditorBody li dl {
	margin:0;
	padding:0;
	line-height:2.0em;
}
.xhtmlEditorBody q {
	margin:0 0.3em;
	padding:0 0.3em;
	line-height:2.0em;
	background:#EFEFEF;
}
q:before {
  content:close-quote;
}
q:after {
  content: close-quote;
}
.xhtmlEditorBody blockquote {
	margin: 0;
	padding:0;
	padding-left:38px;
	line-height:2.0em;
	background:#EFEFEF url(../images/icon/contextBlockquoteBg.gif) no-repeat 14px 4px;
}

.xhtmlEditorBody img {
	margin: 0;
	padding:0;
	max-width:100%;
}
.xhtmlEditorBody div {
	margin: 0;
	padding:0;
	padding-left:12px;
	line-height:2.0em;
	background:#F9F9D8 url(../images/bg/bg_content.gif) repeat;
}
.xhtmlEditorBody pre {
	margin:0;
	padding:0;
	line-height:2.0em;
	border-left:2px solid #afa;
	background-color: #CCC;
	font-size:1em;
	background:#F9F9D8;
}
.xhtmlEditorBody a,
.xhtmlEditorBody a:visited,
.xhtmlEditorBody a:hover {
	margin:0;
	padding:0;
	color: #568942 !important;
	line-height:2.0em;
	text-decoration:underline;
	cursor: pointer !important;
}
.xhtmlEditorBody a.wiki,
.xhtmlEditorBody a.wiki:visited,
.xhtmlEditorBody a.wiki:hover {
	margin:0;
	padding:0;
	color: #002BB8 !important;
	line-height:2.0em;
	text-decoration:underline;
	cursor: pointer !important;
}



