<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="kr.pragmatic.snownote.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="kr.pragmatic.snownote.prespectives.Perspective"
            id="kr.pragmatic.snownote.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="kr.pragmatic.snownote.views.PagesView"
            icon="icons/page.gif"
            id="kr.pragmatic.snownote.view.pages"
            name="모든 페이지">
      </view>
      <view
            class="kr.pragmatic.snownote.views.RecentView"
            icon="icons/date.gif"
            id="kr.pragmatic.snownote.view.recent"
            name="최근 페이지">
      </view>
      <view
            class="kr.pragmatic.snownote.views.FilesView"
            icon="icons/attach.png"
            id="kr.pragmatic.snownote.view.attachments"
            name="첨부파일">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="kr.pragmatic.snownote.editors.SnowNoteEditor"
            icon="icons/page.gif"
            id="kr.pragmatic.snownote.editors.SnowNoteEditor"
            name="에디터">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="kr.pragmatic.snownote.application"
            name="Snow Note">
         <property
               name="appName"
               value="Snow Note">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="191919">
         </property>
         <property
               name="startupMessageRect"
               value="5,285,445,15">
         </property>
         <property
               name="startupProgressRect"
               value="0,303,450,15">
         </property>
         <property
               name="aboutText"
               value="SnowNote&#x0A;&#x0A;- 만든이: 김성안 (http://pragmatic.kr, ccoroom@gmail.com)&#x0D;&#x0D;Snownote와 함께 사용된 라이브러리, 아이콘 등 외부 자료에 대한 저작권은 배포본에 첨부된 README.txt 파일을 참고하세요.">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="windowImages"
               value="icons/branding/snow16.gif,icons/branding/snow32.gif,icons/branding/snow64.gif,icons/branding/snow128.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="kr.pragmatic.snownote.preferences.FlickrPreferencePage"
            id="kr.pragmatic.snownote.preference.flickr"
            name="Flickr">
      </page>
      <page
            class="kr.pragmatic.snownote.preferences.LoginPreferencePage"
            id="kr.pragmatic.snownote.preference.login"
            name="스프링노트">
      </page>
      <page
            class="kr.pragmatic.snownote.preferences.PagesPreferencePage"
            id="kr.pragmatic.snownote.preference.pages"
            name="스노우노트">
      </page>
      <page
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="kr.pragmatic.snownote.preference.keys"
            name="키배열">
      </page>
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="kr.pragmatic.snownote.contribution.SnowPage5"
            objectClass="kr.pragmatic.snownote.core.SnowPage">
             <action
                   class="kr.pragmatic.snownote.actions.CancelDeleteAllAction"
                   icon="icons/delete_cancel_all.gif"
                   id="kr.pragmatic.snownote.actions.CancelDeleteAllAction"
                   label="모두 삭제 취소하기">
         </action>
         <visibility>
           <objectState
                 name="containsDeleted"
                 value="true">
           </objectState>
        </visibility>
      </objectContribution>
      
      <objectContribution
            adaptable="false"
            id="kr.pragmatic.snownote.contribution.SnowPage4"
            objectClass="kr.pragmatic.snownote.core.SnowPage">
         <action
               class="kr.pragmatic.snownote.actions.CancelDeleteAction"
               enablesFor="1"
               icon="icons/delete_cancel.gif"
               id="kr.pragmatic.snownote.actions.CancelDeleteAction"
               label="삭제 취소하기"
               menubarPath="additions">
         </action>
        <visibility>
           <objectState
                 name="isDeleted"
                 value="true">
           </objectState>
        </visibility>
      </objectContribution>
      
      <objectContribution
            adaptable="false"
            id="kr.pragmatic.snownote.contribution.SnowPage3"
            objectClass="kr.pragmatic.snownote.core.SnowPage">
             <action
                   class="kr.pragmatic.snownote.actions.DeleteAllAction"
                   icon="icons/delete_all.gif"
                   id="kr.pragmatic.snownote.actions.DeleteAllAction"
                   label="모두 삭제하기">
         </action>
         <visibility>
           <objectState
                 name="allDeleted"
                 value="false">
           </objectState>
        </visibility>
      </objectContribution>

      <objectContribution
            adaptable="false"
            id="kr.pragmatic.snownote.contribution.SnowPage2"
            objectClass="kr.pragmatic.snownote.core.SnowPage">
         <action
               class="kr.pragmatic.snownote.actions.DeleteAction"
               enablesFor="1"
               icon="icons/delete.gif"
               id="kr.pragmatic.snownote.actions.DeleteAction"
               label="삭제하기"
               menubarPath="additions">
         </action>
         <visibility> 
	         <objectState
	             name="isDeleted"
	             value="false">
	         </objectState>
	     </visibility>
      </objectContribution>
      
      <objectContribution
            id="kr.pragmatic.snownote.contribution.SnowPage1"
            objectClass="kr.pragmatic.snownote.core.SnowPage">
         <!-- plan to support
         <action
               class="kr.pragmatic.snownote.actions.RevertAction"
               icon="icons/revert.gif"
               id="kr.pragmatic.snownote.actions.RevertAction"
               label="되돌리기">
         </action>
         <action
               class="kr.pragmatic.snownote.actions.DownloadAction"
               icon="icons/sync_download.gif"
               id="kr.pragmatic.snownote.actions.DownloadAction"
               label="다운로드">
         </action>
         <action
               class="kr.pragmatic.snownote.actions.UploadAction"
               icon="icons/sync_upload.gif"
               id="kr.pragmatic.snownote.actions.UploadAction"
               label="업로드">
         </action>
         -->
         
         <action
               class="kr.pragmatic.snownote.actions.ModifyPageAction"
               icon="icons/modify_page.gif"
               id="kr.pragmatic.snownote.actions.ModifyPageAction"
               label="수정하기">
         </action>
         <action
               class="kr.pragmatic.snownote.actions.CreatePageAction"
               icon="icons/new_page.gif"
               id="kr.pragmatic.snownote.actions.CreatePageAction2"
               label="새로 만들기">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="kr.pragmatic.snownote.contribution.SnowAttachment1"
            objectClass="kr.pragmatic.snownote.core.SnowAttachment">
         <action
               class="kr.pragmatic.snownote.actions.AttachmentToEditorAction"
               icon="icons/insert_attach.gif"
               id="kr.pragmatic.snownote.actions.InsertToEditorAction"
               label="본문에 넣기">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="kr.pragmatic.snownote.commands"
            id="kr.pragmatic.snownote.actions.CreatePageAction"
            name="새 페이지 만들기">
      </command>
      <keyBinding
            commandId="kr.pragmatic.snownote.actions.CreatePageAction"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M1+A">
      </keyBinding>
      <category
            id="kr.pragmatic.snownote.commands"
            name="SnowNote">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="kr.pragmatic.snownote.viewContribution.attachments"
            targetID="kr.pragmatic.snownote.view.attachments">
         <action
               class="kr.pragmatic.snownote.actions.ImportFileAction"
               icon="icons/file_import.gif"
               id="kr.pragmatic.snownote.actions.ImportFileAction"
               label="파일 가져오기"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="kr.pragmatic.snownote.actionSet.PageActionSet"
            label="Pages"
            visible="true">
         <action
               class="kr.pragmatic.snownote.actions.ModifyPageAction"
               icon="icons/modify_page.gif"
               id="kr.pragmatic.snownote.actions.ModifyPageAction"
               label="페이지 수정"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="kr.pragmatic.snownote.actions.CreatePageAction"
               definitionId="kr.pragmatic.snownote.actions.CreatePageAction"
               icon="icons/new_page.gif"
               id="kr.pragmatic.snownote.actions.CreatePageAction"
               label="페이지 생성"
               style="push"
               toolbarPath="additions">
         </action>
      </actionSet>
      <actionSet
            id="kr.pragmatic.snownote.actionSet.SynchronizeActionSet"
            label="Synchronize"
            visible="true">
         <action
               class="kr.pragmatic.snownote.actions.DownloadAction"
               definitionId="kr.pragmatic.snownote.actions.DownloadAction"
               icon="icons/sync_download.gif"
               id="kr.pragmatic.snownote.actions.DownloadAction"
               label="다운로드"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="kr.pragmatic.snownote.actions.UploadAction"
               definitionId="kr.pragmatic.snownote.actions.UploadAction"
               icon="icons/sync_upload.gif"
               id="kr.pragmatic.snownote.actions.UploadAction"
               label="업로드"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="kr.pragmatic.snownote.actions.SyncAction"
               definitionId="kr.pragmatic.snownote.actions.SyncAction"
               icon="icons/sync.gif"
               id="kr.pragmatic.snownote.actions.SyncAction"
               label="동기화"
               style="push"
               toolbarPath="additions">
         </action>
      </actionSet>
   </extension>
</plugin>
